mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  display: inline-block;
}

.mat-elevation-z8 {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.mat-card {
  background: linear-gradient(rgba(30, 71, 255, 0.322), rgba(0, 0, 255, 0.507));
  color: #fff;

}

.mat-expansion-panel-content {
  background-color: #444;
}

.mat-card-subtitle {
  color: #fff;
}

input.mat-input-element::placeholder {
  color: #fff;
}

.mat-hint {
  color: #fff;
}
